@use 'variables' as v;

@mixin celulares {
    @media (min-width: v.$celulares) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablets) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas, $gap : 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}