$Fuente_principal : "Montserrat",
sans-serif;

// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

//Media Queries 
$celulares: 480px;
$tablets: 768px;
$desktop: 1200px;
$desktopXL: 1400px;